# EditorConfig helps maintain consistent coding styles for multiple developers working on the same project across various editors and IDEs.
# top-most EditorConfig file
root = true

# Universal settings for all files
[*]
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
indent_style = space
indent_size = 4

# C# files
[*.cs]
indent_style = space
indent_size = 4
